.navbar{
    font-size: 18px;
}
.logotype{
    max-width: 150px;
    height: auto;
    width: auto;
}

.no-copy-drag {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    -webkit-user-drag: none;
    user-drag: none;
}
.btn-primary {
    background-color: #8c3f89 !important;
    border-color: #8c3f89 !important;
    border-radius: 20px !important;
    overflow: hidden;
    width: 60%;
    transition: all 0.3s ease-in-out;
}
.btn-primary:active {
    box-shadow: 0px 0px 10px 2px #7c2e79 !important;
}
/* registration and login forms*/
.text-danger{
    display: none;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.col-md-6 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

