<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to your account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/mini-logo.png" type="image/x-icon">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/welcome">
            <img src="/img/logotype.png" alt="Logotype" class="no-copy-drag logotype">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link user-info" href="/settings">
                        <ion-icon name="log-in-outline"></ion-icon> Sign up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link user-info" href="/welcome">
                        <ion-icon name="home-outline"></ion-icon> Home page
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class = "col-md-6">
            <h2 class="text-center mb-4">Sign in</h2>
            <form th:action="@{/login}" method="post" class="needs-validation" novalidate>
                <!-- error message -->
                <div th:if="${param.error}" class="alert alert-danger">Invalid username or password.</div>

                <!-- logout message -->
                <div th:if="${param.logout}" class="alert alert-info">You have been logged out.</div>

                <div class="form-group">
                    <label for="username" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Enter your email" autofocus="autofocus" required>
                    <div class="invalid-feedback">Please enter your email.</div>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control"
                           placeholder="Enter your password" required>
                    <div class="invalid-feedback">Please enter your password.</div>
                </div>

                <div class="form-group">
                    <div class= "text-center mb-4">
                        <button type="submit" name="login-submit" class="btn btn-primary w-50">Sign in</button>
                    </div>
                </div>
            </form>
            <div class="container text-center mt-3">
                <p>Don't have an account yet? <a href="/registration">Sign up</a></p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>