<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <title>Welcome to Pet Health Hub!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/img/mini-logo.png" type="image/x-icon">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/account">
            <img src="/img/logotype.png" alt="Logotype" class="no-copy-drag logotype">
        </a>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 welcome">
            <div class="welcome-text">
                <h2>Track your pet's health</h2>
                <h2 style="font-style: italic">Online</h2>
                <p>Our intuitive platform empowers you to effortlessly monitor the well-being of your beloved pets.
                    From tracking their vital signs to managing their health records, stay informed and proactive about your furry friend's health journey.
                    Join us in nurturing healthier, happier lives for your pets today!</p>
                <div class="welcome-button">
                    <a href="/registration" >Getting started</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 welcome">
            <div class="welcome-img">
                <img src="/img/shiba.png" alt="Hero Image">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 welcome">
            <div class = "about">
                <div class="services">
                    <h1 class="title">Our services</h1>
                    <p class="description">Track and manage your pet's health and lifestyle effortlessly. Get real-time tracking and long-term trend analysis tools to ensure your furry friend's well-being. Join us in promoting a healthier, happier life for your beloved pet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container welcome-service">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/img/paws.png" alt="paws" class="img-welcome">
                <h2>Pet Health Tracking</h2>
                <ul>
                    <li class = "welcome-li">Real-time monitoring of your pet's overall health and well-being.</li>
                    <li class = "welcome-li">Customized reports and statistics to help you understand and improve your pet's health.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="/img/dog.png" alt="dog" class="img-welcome">
                <h2>Comprehensive Pet Profiles</h2>
                <ul>
                    <li class = "welcome-li">Detailed profiles for each of your pets, including breed, age, and preferences.</li>
                    <li class = "welcome-li">Accessible history of your pet's activities and habits for better care management.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="/img/cat.png" alt="cat" class="img-welcome">
                <h2>Health Insights and Trends</h2>
                <ul>
                    <li class = "welcome-li">Regular updates and notifications on your pet's health trends and changes.</li>
                    <li class = "welcome-li">Recommendations for enhancing your pet's lifestyle and well-being based on gathered data.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
